<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"  matchAll="true"/>
	<serverUrl url="http://geoserveis.icgc.cat"  matchAll="true"/>
	<serverUrl url="https://lablet.uab.cat:6443"  matchAll="true"/>
	<serverUrl url="http://lablet.uab.cat:8080"  matchAll="true"/>
	<serverUrl url="http://sig.gencat.cat"  matchAll="true"/>
	<serverUrl url="http://geoserveis.icc.cat/icc_ortohistorica" matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
